body {
    height: 100%;
    position: relative;
}

fieldset {
    border: none;
}

hr {
    border: 0;
}

h1, h2, h3, h4, h5, h6, p, span {
    margin: 0;
    padding: 0;
    z-index: 1;
    width: fit-content;
}

div, form, main, header, footer, hr {
    box-sizing: border-box;
}
 
ul, ol {
    margin: 0 1rem;
    padding: 0;
}
