/*
 * Color guide:
 * Black  - #000000
 * Cream  - #E9E1CC
 * Gray   - #C9D3CE
 * Red    - #DC252B
 * Pink   - #E45960
 * Orange - #EB8F65
 * Brown  - #BB493C
 * Green  - #B0B887
 * Teal   - #279C7B
 * Blue   - #46A8AB
 */

 /*
  * TYPOGRAPHY
  *
  */
.lorimer {
    font-family: 'lorimer-no-2', sans-serif;
    font-weight: 500;
    font-style: normal;
}

.lorimer-italic {
    font-family: 'lorimer-no-2', sans-serif;
    font-weight: 500;
    font-style: italic;
}

.lorimer--light {
    font-family: 'lorimer-no-2', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lorimer--light-italic {
    font-family: 'lorimer-no-2', sans-serif;
    font-weight: 300;
    font-style: italic;
}

.lorimer--medium {
    font-family: 'lorimer-no-2', sans-serif;
    font-weight: 600;
    font-style: normal;
}

.lorimer--medium-italic {
    font-family: 'lorimer-no-2', sans-serif;
    font-weight: 600;
    font-style: italic;
}

.lorimer--bold {
    font-family: 'lorimer-no-2', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lorimer--bold-italic {
    font-family: 'lorimer-no-2', sans-serif;
    font-weight: 700;
    font-style: italic;
}

.seravek {
    font-family: 'seravek-web', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.seravek-italic {
    font-family: 'seravek-web', sans-serif;
    font-weight: 400;
    font-style: italic;
}

.seravek--light {
    font-family: 'seravek-web', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.seravek--light-italic {
    font-family: 'seravek-web', sans-serif;
    font-weight: 300;
    font-style: italic;
}

.seravek--medium {
    font-family: 'seravek-web', sans-serif;
    font-weight: 600;
    font-style: normal;
}

.seravek--medium-italic {
    font-family: 'seravek-web', sans-serif;
    font-weight: 600;
    font-style: italic;
}


.seravek--bold {
    font-family: 'seravek-web', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.seravek--bold-italic {
    font-family: 'seravek-web', sans-serif;
    font-weight: 700;
    font-style: italic;
}

.euphoria-regular {
    font-family: 'Euphoria Script', cursive;
    font-weight: 400;
    font-style: normal;
}

.lxgw-wenkai-regular {
    font-family: 'LXGW WenKai Mono TC', monospace;
    font-weight: 400;
    font-style: normal;
}

.nav__hamburger {
    display: none;;
}


.nav__hamburger {

}

.nav__list {
    position: relative;
    z-index: 100;
    display: flex;
    list-style: none;
    align-items: center;
    gap: 2rem;
}

.typography__nav-link {
    font-size: 32px;
    color: black;
    text-decoration: none;
    padding: 2rem 0; 
}

.typography__text--1 {
    font-size: 24px;
    letter-spacing: -1.0px
}

.typography__text--2 {
    font-size: 20px;
    letter-spacing: -1.0px
}

.typography__heading--1 {
    font-size: 40px;
    letter-spacing: -1.9px;
    line-height: 40px;
}

.typography__heading--2 {
    font-size: 120px;
    letter-spacing: -4.8px;
    line-height: 100px;
}

.typography__heading--3 {
    font-size: 120px;
    letter-spacing: -4.8px;
    line-height: 100px;
}

.typography__subheading--1 {
    font-size: 32px;
    letter-spacing: 3.75px;
}

.typography__subheading--2 {
    font-size: 64px;
    line-height: 48px;
}

.typography--inverse {
    color: #E9E1CC;
}

.typography--uppercase {
    text-transform: uppercase;
}

 /*
  * PAGE HEADER
  *
  */
.page-header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.page-header__heading {
    display: flex;
    flex-direction: column;
}

 /*
  * PAGE STYLES
  *
  */
body {
    height: 100%;
    position: relative;
}

fieldset {
    border: none;
}

hr {
    border: 0;
}

h1, h2, h3, h4, h5, h6, p, span {
    margin: 0;
    padding: 0;
    z-index: 1;
    width: fit-content;
}

div, form, main, header, footer, hr {
    box-sizing: border-box;
}
 
ul, ol {
    margin: 0 1rem;
    padding: 0;
}

.main {
    position: relative;
}

.divider {
    position: relative;
    background-color: #E9E1CC;
    height: 4rem;
    z-index: 99;
    margin: 0;
}

.divider-link {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: calc(100% - 5rem);
    height: 100%;
    z-index: 100;
    text-decoration: none;
    padding: 0 2.5rem;
}

.divider-icon {
    position: relative;
    transition: 200ms ease-in-out;
    top: 0;
    padding: 1rem;
}

.divider-icon:hover {
    top: -0.5rem;
    opacity: 0.75;
}

.divider-container {
    position: relative;
}

.fa-solid {
    color: #46A8AB;
}

.padding--body {
    padding: 2rem 2.5rem;
}

.section__welcome {
    position: relative;
    height: 44rem;
    overflow: hidden;
}

.section__blurb {
    position: relative;
    height: 44rem;
    overflow: hidden;
}

.section__faq {
    position: relative;
    min-height: 44rem;
    height: 100%;
    overflow: hidden;
    background: #E45960;
    overflow: auto;

    --sl-color-neutral-0: #DC252B;
    --sl-color-neutral-200: #DC252B;
}

.section__questions {
    position: relative;
    min-height: 44rem;
    overflow: hidden;
    background: #B0B887;
}

.welcome__heading {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    top: 50%;
    margin-top: -100px;
    left: 50%;
    margin-left: -400;
}

.welcome {
    position: relative;
    height: 100%;
    background-color: #DC252B;
    width: 100%;
    overflow: hidden;
}

.blurb {
    position: relative;
    height: 100%;
    background-color: #EB8F65;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blurb__heading {
    position: absolute;
    top: 5.75rem;
    z-index: 2;
}

.blurb__blurb {
    background-color: #BB493C;
    max-width: 40rem;
    padding: 8rem 4rem;
    border-radius: 4px;
}

.faq {
    height: 100%;
    background-color: #E45960;
}

.faq__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.faq__heading {
    position: relative;
    top: 3rem;
}

.faq__details {
    width: 100%;
    background-color: #DC252B;
}

.faq__details img {
    width: 100%;
}

.faq__details p {
    padding: 1rem 0;
}

.faq__details a {
    color: #E9E1CC;
}

.faq__faq {
    width: 100%;
    max-width: 40rem;
    background-color: #DC252B;
    max-height: 30rem;
    overflow: scroll;
}

.questions {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 1.5rem;
    --sl-input-color: white;
    --sl-input-filled-background-color: #B0B887;
    --sl-input-background-color: #B0B887; 
}

.questions__questions {
    padding: 1.5rem 0;
}

.questions__container {
    width: 100%;
    max-width: 40rem;
    background-color: #279C7B;
}

.questions__heading {
    position: relative;
    top: 3rem;
}

.questions__form-grouping {
    padding: 1rem;
    align-items: center;
    display: flex;
    justify-content: space-between;

    --sl-color-neutral-0: white;
    --sl-color-neutral-200: white;
}


.questions__form-grouping--text-area {
   flex-direction: column;
   align-items: start;
   gap: 1rem;
}

.questions textarea {
    width: 100%;
    height: 5rem;
    border: none;
    border-radius: 4px;
    background-color: #B0B887;
    color: white;
    padding: .75rem;
}

.questions input {
    padding: .75rem;
    min-width: 200px;
    border: none;
    border-radius: 4px;
    background-color: #B0B887;
    color: white;
}

.questions input::placeholder, .questions textarea::placeholder {
    color: #dbd4bf;
}

.questions textarea:focus, .questions input:focus {
    outline: var(--sl-focus-ring);
    outline-offset: var(--sl-focus-ring-offset);
}

.questions__switch {
    display: flex;
    align-items: center;
    gap: .5rem;
}

/*
 * Sprites
 *
 */
.sprite {
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    cursor: pointer;
}

.sprite--1 {
    width: 235px;    
    margin-left: -375px;
    margin-top: -145px;
}

.sprite--2 {
    width: 150px;
    margin-left: 250px;
    margin-top: -170px;
    rotate: 15deg;
}

.sprite--3 {
    width: 150px;
    margin-left: 300px;
    margin-top: -130px;
    z-index: 2;
}

.sprite--4 {
    width: 150px;
    margin-left: -515px;
    margin-top: -300px;
    rotate: 40deg;
    z-index: 3;
}


.sprite-house {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 98;
}

/*
 * Animations
 *
 */
.floaty {
    animation: 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 floaty;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

.floaty:hover {
    animation-play-state: running;
}

@keyframes floaty {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-25px);
        transform: translateY(-25px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

/*
 * Mobile
 *
 */
 @media (max-width: 900px) {
    .nav__list {
        display: none;
        visibility: hidden;
      }
  
      .nav__hamburger {
          display: block;
          position: relative;
          z-index: 1;
          background: transparent;
          border: 0;
      }
  
      .nav__hamburger img {
          width: 90%;
      }

      .page-header {
        flex-direction: row-reverse;
        width: 100%;
        justify-content: start;
    }
 }

 @media (max-width: 700px) {
    .padding--body {
        padding: 1.5rem .75rem;
    }

    .divider {
        height: 2.5rem;
    }
    
    .welcome__heading {
        width: fit-content;
        margin: 0;
        text-align: left;
        left: 2rem;
        margin-top: -150px;
        align-items: start;
    }

    .blurb__blurb {
        padding: 6rem 2rem;
        min-height: 230px;
        align-items: center;
        display: flex;
    }

    .faq__faq {
        padding: 3rem 0;
    }

    .sprite--2, .sprite--3 {
        display: none;
    }

    .typography__text--1 {
        font-size: 20px;
    }
    
    .typography__text--2 {
    }
    
    .typography__heading--1 {
        font-size: 48px;
    }
    
    .typography__heading--2 {
        font-size: 96px;
    }

    .typography__heading--3 {
        font-size: 75px;
    }
    
    .typography__subheading--1 {
        font-size: 24px;
        letter-spacing: 6.75px;
    }
    
    .typography__subheading--2 {
        font-size: 64px;
    }
}