 /*
  * TYPOGRAPHY
  *
  */
  .lorimer {
    font-family: 'lorimer-no-2', sans-serif;
    font-weight: 500;
    font-style: normal;
}

.lorimer-italic {
    font-family: 'lorimer-no-2', sans-serif;
    font-weight: 500;
    font-style: italic;
}

.lorimer--light {
    font-family: 'lorimer-no-2', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lorimer--light-italic {
    font-family: 'lorimer-no-2', sans-serif;
    font-weight: 300;
    font-style: italic;
}

.lorimer--medium {
    font-family: 'lorimer-no-2', sans-serif;
    font-weight: 600;
    font-style: normal;
}

.lorimer--medium-italic {
    font-family: 'lorimer-no-2', sans-serif;
    font-weight: 600;
    font-style: italic;
}

.lorimer--bold {
    font-family: 'lorimer-no-2', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lorimer--bold-italic {
    font-family: 'lorimer-no-2', sans-serif;
    font-weight: 700;
    font-style: italic;
}

.seravek {
    font-family: 'seravek-web', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.seravek-italic {
    font-family: 'seravek-web', sans-serif;
    font-weight: 400;
    font-style: italic;
}

.seravek--light {
    font-family: 'seravek-web', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.seravek--light-italic {
    font-family: 'seravek-web', sans-serif;
    font-weight: 300;
    font-style: italic;
}

.seravek--medium {
    font-family: 'seravek-web', sans-serif;
    font-weight: 600;
    font-style: normal;
}

.seravek--medium-italic {
    font-family: 'seravek-web', sans-serif;
    font-weight: 600;
    font-style: italic;
}

.seravek--bold {
    font-family: 'seravek-web', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.seravek--bold-italic {
    font-family: 'seravek-web', sans-serif;
    font-weight: 700;
    font-style: italic;
}

.euphoria-regular {
    font-family: 'Euphoria Script', cursive;
    font-weight: 400;
    font-style: normal;
}

.lxgw-wenkai-regular {
    font-family: 'LXGW WenKai Mono TC', monospace;
    font-weight: 400;
    font-style: normal;
}

.typography__nav-link {
    font-size: 32px;
    color: black;
    text-decoration: none;
    padding: 2rem 0; 
}

.typography__text--1 {
    font-size: 24px;
    letter-spacing: -1.0px
}

.typography__text--2 {
    font-size: 20px;
    letter-spacing: -1.0px
}

.typography__heading--1 {
    font-size: 40px;
    letter-spacing: -1.9px;
    line-height: 40px;
}

.typography__heading--2 {
    font-size: 120px;
    letter-spacing: -4.8px;
    line-height: 100px;
}

.typography__heading--3 {
    font-size: 120px;
    letter-spacing: -4.8px;
    line-height: 100px;
}

.typography__subheading--1 {
    font-size: 32px;
    letter-spacing: 2px;
    font-weight: 400;
}

.typography__subheading--2 {
    font-size: 64px;
    line-height: 48px;
}

.typography--inverse {
    color: #E9E1CC;
}

.typography--uppercase {
    text-transform: uppercase;
}